<!DOCTYPE html>
{% load static %}

<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license. 
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>JAI LABS</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="static/css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
</head>

<body>

    <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<span class="glyphicon glyphicon-"></span> 
                	JAI Labs
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Digital Politcs</a>
                    </li>
                    <li>
                        <a href="#">REST Forms</a>
                    </li>
					<!--<li class="dropdown">-->
						<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us <span class="caret"></span></a>-->
						<!--<ul class="dropdown-menu" aria-labelledby="about-us">-->
							<!--<li><a href="#">Engage</a></li>-->
							<!--<li><a href="#">Pontificate</a></li>-->
							<!--<li><a href="#">Synergize</a></li>-->
						<!--</ul>-->
					<!--</li>-->

<li>
                        <a href="#">ReviewMiner</a>
                    </li>
						</ul>



                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h3> Web 2.0 and Analytics</h3>
                <p>Driving Data Into Profitable Insights</p>
                <a href="#" class="btn btn-primary btn-lg">Coming Soon</a>
            </div>
        </div>
    </header>

	<!-- Intro Section--> 
    <section class="intro">
        <div class="container">
            <div class = "row">
                <div class="col-lg-8 col-lg-offset-2">

                    <h2 class="section-heading">Contact</h2>
                    <p class="text-light">Mail Address : jairamanujapura@gmail.com</p>
                    <p class="text-light">Physical Address : 6th Floor, N heights, Hitech City</p>
                </div>
            </div>
        </div>
    </section>


    <footer class="page-footer">
        <div class="small-print">
        	<div class="container">
        		<p>Copyright&copy;jailabs.com 2018</p>
        	</div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="static/js/custom.js"></script>

</body>

</html>
